body{
    background-image: url(background.webp);
}

.parent{
    background-color: rgb(187, 165, 209);
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    border: 3px solid white;
}

.child2{
    padding: 20px 0px 0px 0px;
}

.child3{
    padding: 10px 0px
}

#inputNum{
    text-align: center;
}